.field
{
    border: none;
    outline: none;
}

.recordsOnEachPage
{
    width: 25px;
    background-color: transparent;
    color: white;
    font-weight: 700;
    border-bottom: 2px solid white;
}

.navigation-button
{
    width: 38px; 
    border: none;
    outline: none;
    background-color: transparent;;
    font-size: 24px;  
    height: 38px; 
    border-radius: 50%; 
    text-align: center;
}
